<div class="container-vetement">
  <div class="row">
    <div class="col">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1705120893666-d36e3156b07f?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
        <h1><strong>EmmaStitch</strong></h1>
        <p>Des Créations Uniques, Conçues Juste Pour Vous</p>
      </div>

      <div class="section-home index-clothings">
        <h2 class="custom-intro-section"> Collections </h2>
        <h3>Inclusif et Accessible, Adapté à Chaque Besoin</h3>
        <p>Paiement sécurisé et livraison offerte dès 79€ d'achat</p>
      </div>

      <div class="section-vetements">

        <div class="mosaique-parent">
          <div class="mosaique-enfant mosaiquex1">
            <img src="https://images.unsplash.com/photo-1508808787069-421e7986016e?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
          </div>
          <div class="mosaique enfant mosaiquex4">
            <div class="mosaiquex2">
              <img src="https://images.unsplash.com/photo-1488409467762-3a18c42e36e2?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
              <img src="https://images.unsplash.com/photo-1562779198-651c8b760c00?q=80&w=2965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            </div>
            <div class="mosaiquex2">
              <img src="https://images.unsplash.com/photo-1569947494657-6837fd7cc18e?q=80&w=3051&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
              <img src="https://images.unsplash.com/photo-1619799382841-479db3616b91?q=80&w=3082&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
